@import url("style/header.css");
:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);

}
h1{
    background-color: white;
}

.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(Menu.svg);
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
}